
<div class="main">

  <div class="img">
    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-shopping-online-using-e-commerce-app-7129328-5791999.png?f=webp" alt="">
  </div>

  <div class="login-container">
      <h1 class="gradient_text">Welcome Back !</h1>
      <h6 class="gradient_text">User Login</h6>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="text" id="username"  name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <button style="margin-bottom: 10px; background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,50,73,1) 0%, rgba(209,32,64,1) 0%, rgba(218,103,126,1) 100%, rgba(77,0,25,1) 100%, rgba(0,212,255,1) 100%); "  type="submit" >Sign In</button>
        <span style="margin-right: 10px;">Create an account</span>
        <a style="text-decoration: none;" routerLink="/createuser">Sign Up</a>
      </form>
    </div>

 
    

</div>

  