
<app-header></app-header>

<div *ngIf="product" class="product-details">
    <div class="product-image">
        <img [src]="product.image" alt="{{ product.name }}" class="image">
    </div>
    <div class="product-info">
        <h2>{{ product.name }}</h2>
        <!-- <p>{{ product.description }}</p> -->
        <ul class="description-list">
            <li *ngFor="let point of getDescriptionPoints(product.description)">{{ point }}</li>
        </ul>
        
        <p class="price">Price: {{ product.price }}</p>
        <button class="btn btn-primary"
         style="margin-right: 20px;  background: rgb(2,0,36);
         border: none;
         border-radius: 0;
         background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,50,73,1) 0%, rgba(209,32,64,1) 0%, rgba(218,103,126,1) 100%, rgba(77,0,25,1) 100%, rgba(0,212,255,1) 100%);" 
         (click)="onCheckouts(product._id)"
         >
         Buy Now</button>
        <button class="btn btn-primary" style="border-radius: 0" (click)="addToCart(product)" >Add to Cart</button>

    </div>
</div>
