.card-container {
    width: 200px; /* Set the width as per your requirement */
   
    margin-right: 10px; /* Margin between cards */
  }
  
  .card-row {
    display: flex; /* Use flexbox layout */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  .card-container img {
    width: 198px; /* Set the fixed width */
    height: 150px; /* Set the fixed height *
    object-fit: contain; /* Maintain aspect ratio and cover the entire space */
   
  }

  .container{
    margin-top: 30px;
  }
  

  /* CSS for the card container */
.card-container {
    position: relative;
  }
  
  /* CSS for the cart icon */
  .btn-cart {
    position: absolute;
    bottom: 25px;
    right: 10px;
  }
  
  .w-100 {
    height: 500px;
    width: 100%!important;
    /* margin-bottom: 30px; */
    margin-top: 0px;
}
.img_btn{
  border-radius: 0;
  border-color: brown;
  color: black;
  background: none;
  padding: 15px;
 
}

.carousel-item .img{
  position: relative;
}

.carousel-item .img_btn {
  position: absolute;
  bottom: 40%; /* Adjust this value to position the button vertically */
  left: 80%; /* Center the button horizontally */
  transform: translateX(-50%);
  /* background-color: rgba(255, 255, 255, 0.7); Add background color with transparency */
  /* padding: 10px 20px; */
  border-color: brown;
  border-radius: 0px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


  