

.login-container {
  max-width: 400px;
  /* margin-top: 200px;
  margin-left: 300px; */
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* box-shadow: 0 4px 8px rgba(10, 20, 0, 0.1); */
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 7px;
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: brown;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #67000a
}

h2{
  margin-bottom: 25px;
  color: brown;
}

#password{
  margin-bottom: 10px;
}

.main{
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F9FF;
  width: max-content;
  margin-left: 120px;
  padding: 30px;
  box-shadow:0 0px 10px rgba(38, 24, 0, 1.1);
}

.img{
  margin-right: 20px;
 
}

.img img{
  width: 300px;
  height: 300px;
  margin-right: 50px;
}
