<app-header></app-header>


<div class="main">
    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/people-doing-online-shopping-7735412-6241791.png?f=webp" alt="">
    <div class="des">
        <h1 class="gradient_text">WHO WE ARE</h1>
        <p style="width: 400px; margin-top: 30px; text-align: start;">we're more than just an online store — we're your ultimate destination for all things fabulous, functional, and fashionable! With a passion for delivering top-quality products and exceptional customer service.</p>
        <button>EXPLORE MORE</button>
    </div>

</div>

<h1 style=" display: flex; justify-content: center;" class="gradient_text">OUR CORE VALUE</h1>
<div class="core_value">

    <div class="box">
        <div class="box_des">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-working-on-sales-growth-4935250-4117025.png" alt="">
            <h3 style="margin-top: 5px;">Our Mission</h3>
            <p>our mission is to redefine the online shopping experience by providing our customers with a seamless, convenient, and personalized platform. </p>
        </div>
    </div>


    <div class="box">
        <div class="box_des">
            <img style="padding-right: 10px;" src="https://cdn3d.iconscout.com/3d/premium/thumb/business-person-working-on-business-growth-4935248-4117027.png" alt="">
            <h3>Our Vision</h3>
            <p >our vision is to redefine the way people shop online by creating an unparalleled digital destination that inspires.</p>
        </div>
    </div>

    <div class="box">
        <div class="box_des">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/personal-businessman-goals-4876391-4064303.png?f=webp" alt="">
            <h3 style="margin-top: 5px;">Our Goal</h3>
            <p>our goal is to redefine the way you shop online by delivering an unparalleled shopping experience that's personalized,convenient, and delightful. </p>
        </div>
    </div>
</div>


<app-footer></app-footer>